:root {
    --main-color: #05415F;

    /* for text */
    --light: #EDEDED;

    /* for headings in table */
    --light-darken: #CAC3C3;

    --green: #00C0A9;
    --green-light: #0DE3E2;

    --purple: #3609B3;
    --blue: #035997;
    --brown: #A39171;


    --base-radius: 6px;
    /*
        https://www.joshwcomeau.com/css/designing-shadows/
     */
    --box-shadow-optimized: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);

    /*** spacings ***/
    --base-space: 8px;
    --base-space-2x: calc(var(--base-space) * 2);
    --body-spacing: 32px;
}